@import "./../../../../_variables";


.popular {
    color: white;
    margin: 0 3rem 3rem;

    h1 {
        font-size: 3.5em;
        margin-bottom: 1rem;
        margin-left: 0;
    }

    .popularBlock {
        padding: 3rem;
        border-radius: 10px;
        width: 93%;
        height: 19rem;
        background-size: cover;
        background-position: center;
		background-repeat: no-repeat;
		position: relative;
        background-position: center 10%;

        &::before {
            content: '';
            background-image: linear-gradient(to right bottom, #0f1011,  transparent);
            width: 100%;
            height: 100%;
			position: absolute;
			top: 0;
			left: 0;
            z-index: 1;
        }
        *{
            z-index: 1;
            position: inherit;
        }
        
        >:first-child { //new
            width: 3rem;
            height: 1.5rem;
            background-color: $darkRed;
            text-align: center;
            border-radius: 5px;
        }

        h1 {
            color: #c3c3c3;

        }

        .rate {
            display: flex;
            flex-flow: nowrap row;
            justify-content: start;
            width: 100%;
            margin: 1rem 0;

            >:first-child {
                margin-right: 4rem;
            }

            >:last-child {
                margin-right: 4rem;
            }

            > span {
                color: #c3c3c3;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(1, 1, 1, 0.274);
                border-radius: 5px;
                width: 7rem;
                padding: 0.1rem 0.8rem;
                font-weight: 600;
                text-transform: uppercase;

                i {
                    margin-right: 10px;
                    color: rgb(247, 206, 0);  
                    font-size: 2.5rem;
                }
            }
        }
        a {
            
            button {
            margin-top: 2rem;
            background-color: #8d1010;
            border: none;
            padding: 1rem 1rem;
            border-radius: 15px;
            position: relative;
            transition: 0.3s;
            width: 7rem; 
            color: #c3c3c3;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 600;
            font-size: 16px;
            transition: background-color 0.4s ease-in-out;

            &:hover {
                background-color: #6a0b0b;
            }

        }
    }
        

    }

    h2 {
        margin-top: 3rem;
        color: $gray;
    }


    .trendWrapper {
        color: $gray;
        width: 100%;
        height: fit-content;

        .trendItem {
            position: relative;
            border-radius: 10px;
            background-size: cover;
            background-position: center 20%;
            background-repeat: no-repeat;
            height: 16rem;
            display: flex;
            justify-content: space-between;
            align-items: start;
            flex-flow: wrap column;

            &:hover {
                transition: all .2s ease-in-out;
                transform: scale(0.96);
            }

            &::before {
                content: '';
                background-image: linear-gradient(to right, #0f1011ab,  transparent);
                width: 170%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }
            * {
                z-index: 2;
            }


            .trendRate {
                color: #fff;
                background-color: #00000090;
                border-radius: 10px;
                margin: 0.5rem;
                padding: 4px;
                
                > i {
                    color: rgb(247, 206, 0);  
                    margin-right: 3px;
                }
            }

            >a {
                margin: 1rem 0 0 2rem;
                color: #e3e3e3;
                font-weight: 600;
                font-size: 29px;
                transition: color 0.3s ease-in-out;

                &:hover {
                    color: #b41818;
                }

            }

            .year {
                margin-left: 2rem;
                color: #cdcdcd;
                font-weight: 600;
                font-size: 17px;

            }

            button {
                background: #9b9a9757;
                border-radius: 50%;
                width: 3rem;
                height: 3rem;
                border: none;
                padding: 0.5rem;
                justify-self: end;
                align-self: end;
                margin: 0 1rem 1rem 0;
                

                >i {
                    color: #fff;

                    &:hover {
                        color: #d6d6d6;
                    }
                }
              }
            }
    }
}


@media only screen and (max-width: 1024px) { 
    .popular {
        .popularBlock {
            width: auto;
        }
    }
}

@media only screen and (max-width: 768px) { 
    .popular {
        .popularBlock {
            height: 13rem;

            h1 {
                font-size: 2em;
            }

            .rate {
                span {
                    width: auto;
                    font-size: 13px;
                    
                        i {
                        font-size: 1.7rem;
                    }
                }
            }

            a {
                button {
                    margin: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) { 

    .popular {
        .popularBlock {
            padding: 1.5rem;

            .rate {
                >:first-child {
                    margin-right: 1rem;
                }
            }

            h1 {
                font-size: 1.7rem;
                margin: 1rem 0 0 0;
            }

            a {
                button {
                    font-size: 12px;
                    width: auto;
                    margin: 0.5rem 0 0 0;
                }
            }
        }
        .trendWrapper {
            
            .trendItem {
                height: 9rem;

                .trendRate {
                    font-size: 12px;
                }

                .year {
                    display: none;
                }

                a {
                    font-size: 22px;
                    margin:  0 auto;
                }

                button {
                    width: 2.5rem;
                    height: 2.5rem;
                }
            }            
        }
    }
}

@media only screen and (max-width: 375px) { 
    .popular {
        height: 32rem;
    }
}

@media only screen and (max-width: 340px) { 
    .popular {

        padding: 1rem;
        .popularBlock {
            .rate {
                >:last-child {
                    display: none;
                }
            }
        }
    }
}
