@import '../../../variables';

.wrapper {
	position: relative;
	display: flex;
	min-height: 514px;
	height: 100%;
	margin: 0 0 0 3rem;
	
	.main {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		position: relative;
		width: 100%;
		min-height: 38rem;
		height: auto;
		background-position: center 20%;

		@media only screen and (max-width: 800px) { 
			min-height: auto;
		}

		&::before {
			content: '';
			background-image: linear-gradient(to right, #0f1011, transparent);
			width: 150%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}

		.modal {
			width: 100vw;
			height: 100vh;
			background-color: rgba(0, 0, 0, 0.521);
			position: fixed;
			top: 0;
			left: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: 3;
		
			.video {
				padding: 2rem;
				position: relative;
				border-radius: 10px;
				background-color: #0f1011;
				width: 50vw;
				z-index: 3;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-flow: wrap column;

				>i {
					cursor: pointer;
					color: rgb(155, 154, 151);
					font-size: 36px;
					display: block;
					margin-right: 0 auto;
					padding: 1rem;
					position: sticky;
					top: 14%;
					left: 29%;
					align-self: end;
				}

				iframe {
					width: 560px;
					height: 315px;
				}
			}
		}
	}

	.info {
		position: relative;
		align-items: center;
		z-index: 0;
		padding: 5rem 0 5rem 1rem;

		.img {
			width: 50%;
			margin: 3rem 0;
		}

		h1 {
			color: #fff;
			font-size: 3em;
			margin-left: 0;
		}

		.additional {
			display: flex;
			align-items: center;
			color: $gray;
			margin: 1rem 0;

			>span {
				margin-right: 2rem;
				font-size: 18px;
			}

			.age {
				display: block;
				border: 1px solid $gray;
				border-radius: 15%;
				padding: 3px 10px;
			}
		}

		.description {
			font-size: 1em;
			color: $gray;
			margin: 2rem 0;
			line-height: 1.65;
			height: auto;
			width: 98%;
			
			@media only screen and (max-width: 480px) { 
				font-size: 0.8em;
			}
		}

		>:last-child {
			
			width: 82%;
			>:first-child {
				margin-right: 1rem;
			}

			@media only screen and (max-width: 800px) { 
				display: flex;
				justify-content: center;

				button {
					width: 8rem;
					font-size: 16px;
					i {
						font-size: 30px;
					}
				}

				@media only screen and (max-width: 450px) { 
					
					button {
						width: 6rem;
						padding: 4px 0;
						font-size: 14px;
						i {
							font-size: 26px;
						}
					}
				}

			}
		}
	}

	.episodes{
		z-index: 1;
		width: 90%;
		padding: 5rem 0 0 0;
		display: flex;
		flex-direction: column;
		margin: 0 auto;

		> * {
			z-index: 1;
		}

		.year {
			color: #cdcdcd7d;
			font-weight: 600;
			font-size: 17px;
			margin-bottom: 5px;
		}

		h1 {
			color: #fff;
			font-size: 3em ;
			margin-left: 0;
		}
		
		.img {
			width: 60%;
			margin: 0rem 0 1rem;
		}

		.countries {
			display: flex;
			flex-direction: row;
			justify-content: start;
			width: 100%;
			margin-bottom: 1rem;
			
			> span {
				margin: 1rem 1rem 1rem 0;
			}

			> * {
				color: #fff;
				text-align: center;
				background-color: #6b6b6b77;
				border-radius: 5px;
				padding: 0.3rem;
			}
		}

		.rate {
            display: flex;
            flex-flow: wrap row;
            justify-content: start;
            width: 100%;
            margin: 0.5rem 0;

            >:first-child {
                margin-right: 4rem;
				i {
                    color: rgb(247, 206, 0);  
                }
            }

            >:last-child {
                margin-right: 4rem;
				i {
					color: rgb(66, 63, 112); 
				}
            }

            > span {
                color: #c3c3c3;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(1, 1, 1, 0.274);
                border-radius: 5px;
                width: auto;
                font-weight: 600;
                text-transform: uppercase;

                i {
                    margin-right: 10px;
                    color: rgb(207, 83, 0);  
                    font-size: 1.5rem;
                }
            }
        }
		.swiper {
			width: 100%;
			bottom: 20px;
			margin-bottom: 4rem;

			.episodeItem {
				position: relative;
				 &:hover {
					transition: all .2s ease-in-out;
					transform: scale(0.95);
				}
			}

			>img{
				position: relative;
			}

			.number {
				font-size: 550%;
				position: absolute;
				color: #000000c5;
				text-shadow: 0 0 10px #ffffff61, 1px 0px 5px rgba(255, 255, 255, 0.32);
				top: 9%;
				left: 42%;

				@media only screen and (max-width: 790px) { 
					font-size: 500%;
					@media  (max-width: 720px) {
						font-size: 400%;
						@media  (max-width: 570px) {
							top: 25%;
							@media  (max-width: 430px) {
								top: 18%;
								@media  (max-width: 370px) {
									font-size: 5em;
									top: 10%;
									left: 40%;
								}
							}
						}
					}
				}
			}
		}
	}
}