@import '../../../variables';

.button {
	border: 1px solid rgba(255, 255, 255, 0.7);
	padding: 0.5rem 1rem;
	border-radius: 30px;
	background-color: transparent;
	outline: none;
	font-size: 18px;
	color: $gray;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 170px;
	transition: background-color 1s ease-in-out;

	&:hover {
		background-color: #00000056;
		border: 1px solid rgba(255, 255, 255, 0.468);
	}

	&:active {
		border: 1px solid $darkRed;
	}

	> i {
		font-size: 38px;
		margin-right: 0.5rem;
	}
}
