@import '../../../variables';


.wrapper {
    

}

.header {
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > div:first-child {
        display: flex;
        align-items: center;
        > a{
            display: flex;
            align-items: center;
        }
    }

    .notification {
        position: relative;
        margin-right: 1.5rem;
        cursor: pointer;

        >i{
            color: #fff;
            font-size: 26px;
        }

        > span {
            background-color: #c62e21;
            width: 10px;
            height: 10px;
            top: 0;
            right: 0;
            position: absolute;
            background-repeat: 50%;
            border: 1px solid #0f1011;
            border-radius: 50%;
        }
    }

    .profile-wrapper {
        display: flex;
        align-items: center;
    }

    .profile {
        position: relative;
        display: flex;
        align-items: center;

        .dropdown{
            position: absolute;
            top: 108%;
            right: 0;
            border: 1px solid red;
            width: 10rem;
            height: 7rem;
            z-index: 100;
            display: flex;
            justify-content: center;
            align-items: start;
            flex-flow: column;
            background-color: #0f1011;
            border: 1px solid rgb(28, 28, 35);
            border-radius:10px;
            -webkit-box-shadow: 3px 1px 58px 14px rgba(0, 0, 0, 0.32);
            -moz-box-shadow: 3px 1px 58px 14px rgba(0, 0, 0, 0.32);
            box-shadow: 3px 1px 58px 14px rgba(0, 0, 0, 0.32);
            
            >button {
                margin: 0 0 1rem 1rem;
                padding: 5px 30px;
                border: 1px solid rgba(128, 128, 128, 0.381);
                background-color: transparent;
                color: $gray;
                border-radius: 15px;

                &:hover {
                    background-color: #141516;
                }

            }
        }

        .avatar {
            height: 35px;
            width: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 0.3rem;
            overflow: hidden;
            border-radius: 50%;
            cursor: pointer; 
        }

        >i {
            color: #fff;
            font-size: 15px;
            cursor: pointer; 
        }
    }    
}

.query {
    display: none;
	width: 100px;
	height: 100px;
	color: white;
	font-size: 16px;
	border: 2px solid red;
}
