@import '../../../variables';

.sidebar {
	> button {
		background-color: transparent;
		border: none;
		color: $gray;
		font-size: 30px;
		padding: 35px;

		>i {
			font-size: 35px;
			transition: color 1s ease-in-out;

			&:hover {
				color: $darkRed;
			}
		}
	}

	ul {
		list-style-type: none;
		padding: 0;
		display: none;
		animation: opacity 0.4s;

		&.show {
			display: block;
		}

		li {
			margin-bottom: 0.5rem;
			a {
				padding: 0.5rem;
				display: block;
				color: $gray;
				text-decoration: none;
				border-left: 2px solid transparent;
				font-size: 20px;
				text-align: right;
				transition: background-color 0.6s ease-in-out;

				&:hover,
				&.active {
					border-color: $red;
					background-color: #2a2a2c;
				}
			}
		}
	}
}

@media only screen and (max-width: 650px) { 
	.sidebar {
		position: absolute;
		z-index: 3;
		height: 60%;
		padding-right: 1rem;
		border-radius: 0 0 10px 0;
		min-width: 7.5%;
		width: auto !important;
		background-color:#0d0d0d;
		-webkit-box-shadow: 12px 14px 16px 6px rgba(10, 16, 20, 0.555);
		-moz-box-shadow: 12px 14px 16px 6px rgba(10, 16, 20, 0.555);
		box-shadow: 12px 14px 16px 6px rgba(10, 16, 20, 0.555);
		button {
			padding: 20px 0 0 10px;
			i {
				font-size: 30px;
			}
		}

		ul {
			li {
				padding-right: 1rem;
				width: 100%;

				a {
					width: 100%;
					text-align: left;
				}
			}
		}
	}

}