@import "./../../../_variables.scss";

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.521);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    color: white;

    .login {
        width: 23rem;
        min-height: 27rem;
        padding: 3rem;
        position: relative;
        border-radius: 10px;
        background-color: #0f1011;
        z-index: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        span {
            display: block;
        }

        >i {
            cursor: pointer;
            color: rgb(155, 154, 151);
            font-size: 36px;
            display: block;
            margin-right: 0 auto;

            position: sticky;
            top: 14%;
            left: 29%;
            align-self: end;
        }

        .form, form{
            display: flex;
            width: 17rem;
            height: 100%;
            //border: 1px solid purple;
            flex-direction: column;
            align-items: center;

            h2{
                padding: 1rem;
            }

            label {
                color: rgba(195, 195, 195, 0.836);
                align-self:flex-start;
                font-size: 13px;
                padding: 5px 5px 5px 0;
                font-weight: 600;
            }

            input, button {
                color: #ffffff;
                width: 99%;
                background-color: transparent;
                height: 1.9rem;
                margin-bottom: 0.5rem;
                border: 1px solid rgba(128, 128, 128, 0.632);
                border-radius: 4px;
                background-color: #ffffff15;

                &::placeholder {
                    letter-spacing: 1px;
                    font-size: 13px;
                }
                &:focus {
                    outline: none;
                }
            }

            .signInBtn {
                color: #fff;
                width: 102%;
                background-color: $red;
                border: 1px solid $darkRed;
                transition: background-color 433ms ease-out 50ms;

                &:hover {
                    background-color: $darkRed;
                }

            }

            .newAccBtns {
                display: flex;
                width: 100%;
                margin: 1rem;
                
                div {
                    cursor: pointer;
                    display: inline;
                    color: $gray;
                    font-weight: 600;
                    color: $red;
    
                    &:hover {
                        color: $darkRed;
                    }
                }
    
                span {
                    font-size: 16px;
                    padding-right: 5px;
                    b {
                        font-weight: 800;
                    }
                }

            }     
        }

        .googleBtn {
            color: #4d4d4d;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            width: calc(101% - 6rem);
            height: 2.1rem;
            margin-bottom: 0.5rem;
            border: 1px solid rgba(128, 128, 128, 0.632);
            border-radius: 4px;
            background-color: #ffffff;

            &:hover {
                background-image: radial-gradient(circle, #ffffff, #f4f4f4, #e9e9e9, #dedede, #c1c0c0);
            }

            i {
                margin-right: 7px;
                background: linear-gradient(120deg, rgba(230,5,5,1) 30%, rgba(246,169,0,1) 11%, rgba(0,157,5,1) 60%, rgb(26, 0, 220) 11%);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
    }
}

}