@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.521);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  color: white;
}
.wrapper .login {
  width: 23rem;
  min-height: 27rem;
  padding: 3rem;
  position: relative;
  border-radius: 10px;
  background-color: rgb(14, 14, 14);
  border: 1px solid rgb(26, 26, 26);
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper .login span {
  display: block;
}
.wrapper .login > i {
  cursor: pointer;
  color: rgb(155, 154, 151);
  font-size: 36px;
  display: block;
  position: sticky;
  top: 14%;
  left: 29%;
  align-self: end;
}
.wrapper .login > i:hover {
  color: rgb(109, 109, 107);
}
.wrapper .login .form, .wrapper .login form {
  display: flex;
  width: 17rem;
  height: 100%;
  flex-direction: column;
  align-items: center;
}
.wrapper .login .form h2, .wrapper .login form h2 {
  padding: 1rem;
}
.wrapper .login .form label, .wrapper .login form label {
  color: rgba(195, 195, 195, 0.836);
  align-self: flex-start;
  font-size: 13px;
  padding: 5px 5px 5px 0;
  font-weight: 600;
}
.wrapper .login .form input, .wrapper .login .form button, .wrapper .login form input, .wrapper .login form button {
  color: #ffffff;
  width: 99%;
  background-color: transparent;
  height: 1.9rem;
  margin-bottom: 0.5rem;
  border: 1px solid rgba(128, 128, 128, 0.632);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.0823529412);
}
.wrapper .login .form input::-moz-placeholder, .wrapper .login .form button::-moz-placeholder, .wrapper .login form input::-moz-placeholder, .wrapper .login form button::-moz-placeholder {
  letter-spacing: 1px;
  font-size: 13px;
}
.wrapper .login .form input::placeholder, .wrapper .login .form button::placeholder, .wrapper .login form input::placeholder, .wrapper .login form button::placeholder {
  letter-spacing: 1px;
  font-size: 13px;
}
.wrapper .login .form input:focus, .wrapper .login .form button:focus, .wrapper .login form input:focus, .wrapper .login form button:focus {
  outline: none;
}
.wrapper .login .form input:hover, .wrapper .login .form button:hover, .wrapper .login form input:hover, .wrapper .login form button:hover {
  background-color: rgba(255, 255, 255, 0.1450980392);
}
.wrapper .login .form .signInBtn, .wrapper .login form .signInBtn {
  color: #fff;
  width: 102%;
  background-color: #b51313;
  border: 1px solid #700b0b;
  transition: background-color 433ms ease-out 50ms;
}
.wrapper .login .form .signInBtn:hover, .wrapper .login form .signInBtn:hover {
  background-color: #700b0b;
}
.wrapper .login .form .newAccBtns, .wrapper .login form .newAccBtns {
  display: flex;
  width: 100%;
  margin: 1rem;
}
.wrapper .login .form .newAccBtns div, .wrapper .login form .newAccBtns div {
  cursor: pointer;
  display: inline;
  color: #9b9a97;
  font-weight: 600;
  color: #b51313;
}
.wrapper .login .form .newAccBtns div:hover, .wrapper .login form .newAccBtns div:hover {
  color: #700b0b;
}
.wrapper .login .form .newAccBtns span, .wrapper .login form .newAccBtns span {
  font-size: 16px;
  padding-right: 5px;
}
.wrapper .login .form .newAccBtns span b, .wrapper .login form .newAccBtns span b {
  font-weight: 800;
}
.wrapper .login .googleBtn {
  color: #4d4d4d;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(101% - 6rem);
  height: 2.1rem;
  margin-bottom: 0.5rem;
  border: 1px solid rgba(128, 128, 128, 0.632);
  border-radius: 4px;
  background-color: #ffffff;
}
.wrapper .login .googleBtn:hover {
  background-image: radial-gradient(circle, #ffffff, #dddcdc, #c4c1c1, #b7b5b5, #c1c0c0);
}
.wrapper .login .googleBtn i {
  margin-right: 7px;
  background: linear-gradient(120deg, rgb(230, 5, 5) 30%, rgb(246, 169, 0) 11%, rgb(0, 157, 5) 60%, rgb(26, 0, 220) 11%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}/*# sourceMappingURL=Login.module.css.map */