@import '../../../../variables';

h1 {
    color: $gray;
    margin: 2rem 3.5rem;
}

a {
    text-decoration: none;
}

.watchlist {
    color: $gray;
    min-height: 20rem;
    width: 100%;
    display: flex;
    flex-direction: column;

    .item {
        height: 78%;
        width: 90%;
        align-items: center;
        display: flex;
        flex-flow: row;
        margin: 1rem;
        border: 1px solid #242424;
        border-radius: 23px;
        background-image: linear-gradient(to right, #0f1011, #131314, #161617, #191919, #1c1c1c);
        -webkit-transition: background-image 5s ease-out 0s;
        -moz-transition: background-image 5s ease-out;
        -o-transition: background-image 5s ease-out;
        transition: background-image 5s ease-out;

        &:hover {
            background-image: linear-gradient(to right, #151718, #131314, #161617, #191919, #1e1d1d);

        }

        button {
            align-self: flex-start;
            border: none;
            background-color: transparent;
            >i {
                cursor: pointer;
                margin-top: 1rem;
                color: $gray;
                

                &:hover {
                    color: #515151;
                    
                }
            }
    

        }
    
        .itemImg {
            width: 16rem;
            height: 16rem;
            margin: 1rem 2rem 1rem 1rem;
            border-radius: 10px;
            img {
                height: 16rem;
                width: 16rem;
                border-radius: 10px;
                object-fit: cover;
                object-position: center 30%;

            }
        }
    
        .itemDetails {
            margin-top: 2.5rem;
            align-self: flex-start;
            width: 70%;

            >:last-child {
                margin-top: 1rem;
            }

            div {
                span {
                    color: #fff;
                }
            }
    
            a{
                font-size: 2.5em;
                color: $gray;
                font-weight: 600;
                transition: color 0.5s ease-in-out;

                &:hover {
                    color: #911010;
                }
    
            }
    
            .genres {
                display: flex;
                flex-direction: row;
                justify-content: start;
                width: 100%;
                margin: 1rem 0;

                > span {
                    margin-right: 1rem;

                }

                > * {
                    color: #fff;
                    text-align: center;
                    background-color: #6b6b6b77;
                    border-radius: 5px;
                    padding: 0.3rem;

                    i {
                        margin-right: 3px;
                        color: rgb(240, 220, 3);
                    }
                }
    
            }
    
        }


    }

    .emptyList {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: wrap column;

        i {
            font-size: 80px;
            margin-bottom: 1rem;
        }

        span {
            font-size: 20px;
        }
    }


}